header 
    .container
        include nav
        .__box
            span.__title outdoor exploration
            h1 Gear for when it actually matters.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
    img.__prllx.__prllx0(src="@img/hero.png" alt="hero")
