//font-family
$ff__awesome: 'fontawesome';
$ff__main   : Poppins;
$ff__main-t : Roboto;

//colors
$color-brand  :#575445;
$color-link   :#444444;
$color-link-a :#222222;
$color-title  : #E6B939;
$color-text   : #CACCD1;
$color-green  : #375C58;

//width & height
$rate : 100%;
$px   : 10px;
$rem  : 1rem;
$zero : 0;
$pdd-l : 2.67%;
$wDec : 250px;
$hDec : 256px;