doctype html 
html(lang='en')
    head 
        include html/head 
        title Home - OUTDOOR EXPLORATION
    body 
        main
            include html/header 
            include html/section 
            include html/footer 
            include html/script 